<!-- login.component.html -->
<div class="login-container">
  <h2 class="login-container__title">Login</h2>
  <form (ngSubmit)="login()" class="login-form">
    <div class="login-form__group">
      <label for="username" class="login-form__label">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.username" required class="login-form__input">
    </div>

    <div class="login-form__group">
      <label for="password" class="login-form__label">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required class="login-form__input">
    </div>

    <button type="submit" class="login-form__submit-button">Login</button>
    <label>Don't have account? <a routerLink="/signup">Signup</a> here </label>
  </form>
</div>
