<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezC/8uFZvIidFOWT0F95v3l9zqOGgRSzYy3Z6/aAEwlB7CmVTe/G9C6JASdPI9t" crossorigin="anonymous">
</head>
<section class="main">
  <div class="wrapper">
      <div class="left-col">
          <div *ngIf="userPosts" class="post-container">
              <h2>My Posts (User ID: {{ userId }})</h2>
              <div *ngFor="let post of userPosts" class="post-item">
                  <div class="info">
                      <div class="user">
                          <div class="profile-pic"><img src="{{ post.user.profilePic }}" alt=""></div>
                          <p class="username">{{ post.user.username }}</p>
                      </div>
                      <!-- <img src="img/option.PNG" class="options" alt=""> -->
                  </div>
                  <div class="post-content">
                      <!-- <div class="reaction-wrapper">
                          <img src="img/like.PNG" class="icon" alt="">
                          <i class="fas fa-comment icon"alt=""></i>
                          <img src="img/send.PNG" class="icon" alt="">
                          <img src="img/save.PNG" class="save icon" alt="">
                      </div> -->
                      <p class="likes">{{ post.likes }} likes</p>
                      <p class="description"><span>{{ post.user.username }}</span> {{ post.content }}</p>
                      <p class="post-time">{{ post.timeAgo }}</p>
                  </div>
                  <div class="comment-wrapper">
                      <img src="img/smile.PNG" class="icon" alt="">
                      <input type="text" class="comment-box" placeholder="Add a comment">
                      <button class="comment-btn">Post</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
